<div
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  style="margin-left: 25px; margin-right: 25px"
>
  <div
    fxFlex.lt-xl="50%"
    fxFlex.lt-lg="66%"
    fxFlex.lt-md="83%"
    fxFlex.lt-sm="91%"
    fxFlex.lt-xs="100%"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    style="margin-top: 30"
  >
    <div fxFlex="100%">
      <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="55px">
          <mat-icon style="font-size: 32px">shield</mat-icon>
        </div>
        <div fxFlex="">
          <h2 class="mat-title" style="margin-bottom: 0">
            {{ isNew() ? 'Add new' : 'Edit' }} Password
          </h2>
          <h3 class="mat-subheading" style="margin-top: 0">
            {{
              isNew()
                ? 'Add a new password for an app or website.'
                : 'Change the details for your existing password.'
            }}
          </h3>
        </div>
      </div>
    </div>
    <div fxFlex="100%">
      <form>
        <mat-form-field>
          <input
            required
            matInput
            name="appName"
            [(ngModel)]="password.appName"
            placeholder="App/Site Name"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="appUrl"
            [(ngModel)]="password.appUrl"
            placeholder="App/Site Url"
          />
          <mat-hint>Leave blank if not applicable</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Category" [(value)]="password.category">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            required
            matInput
            name="username"
            [(ngModel)]="password.username"
            placeholder="Username"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            required
            matInput
            name="password"
            [(ngModel)]="password.password"
            placeholder="Password"
          />
        </mat-form-field>
      </form>
    </div>
    <div fxFlex="100%" fxLayout="row">
      <div fxFlex="" fxLayoutAlign="end center">
        <button
          (click)="cancel()"
          mat-raised-button
          color="accent"
          style="margin-right: 15px"
        >
          Cancel
        </button>
        <button (click)="save()" mat-raised-button color="primary">
          {{ isNew() ? 'Add' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>
