<div fxLayout="row wrap" fxLayoutAlign="center center">
  <div
    fxFlex.lt-xl="50%"
    fxFlex.lt-lg="66%"
    fxFlex.lt-md="83%"
    fxFlex.lt-sm="91%"
    fxFlex.lt-xs="100%"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
  >
    <div fxFlex="100%" style="margin-top: 50px;">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxFlex="55px">
            <mat-icon style="font-size: 32px">shield</mat-icon>
          </div>
          <div fxFlex="">
            <h2 class="mat-title" style="margin-bottom: 0">
              Passwords
            </h2>
            <h3 class="mat-subheading" style="margin-top: 0">
              View and Manage all your passwords
            </h3>
          </div>
        </div>

        <div fxFlex="">
          <mat-form-field style="min-width: 220px">
            <mat-select placeholder="Category" [(value)]="selectedCategory">
              <mat-option
                *ngFor="let category of categories"
                [value]="category"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-hint>View passwords in specific categories.</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <button (click)="addNewPassword()" mat-raised-button color="primary">
            <mat-icon style="margin-right: 10px">add_circle</mat-icon>
            Add
          </button>
        </div>
      </div>
    </div>
    <div fxFlex="100%" style="margin-top: 15px">
      <mat-divider></mat-divider>
    </div>
    <div fxFlex="100%" style="margin-top: 10px" fxLayoutAlign="center center">
      <ng-container *ngIf="isLoadingPasswords">
        <mat-spinner></mat-spinner>
      </ng-container>
      <ng-container *ngIf="!isLoadingPasswords && passwords.length > 0">
        <mat-list style="width: 100%">
          <mat-list-item *ngFor="let password of passwords">
            <h4 matLine>{{ password.appName }}</h4>
            <p matLine>{{ password.appUrl }}</p>
            <mat-action-list>
              <div fxLayout="row">
                <div fxFlex="">
                  <button mat-icon-button (click)="copyPasswordToClipboard()">
                    <mat-icon>filter_none</mat-icon>
                  </button>
                </div>
                <div fxLayout="row">
                  <button mat-icon-button (click)="editExistingPassword()">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div fxLayout="row">
                  <button mat-icon-button (click)="deleteExistingPassword()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-action-list>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-container *ngIf="!isLoadingPasswords && passwords.length === 0">
        <div class="mat-title" style="text-align:center">
          You have no passwords yet. Get going and add some.
        </div>
      </ng-container>
    </div>
  </div>
</div>
